<ng-container title-prefix="Overview" title="Security Threat" title-suffix="Panther"></ng-container>
<div class="container" fxFlex="1 1 auto" fxFlexFill>
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
        <div fxLayoutAlign="end center">
            <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon style="margin: 2px 8px 2px 0">search</mat-icon>
                <mat-form-field fxFlex="1 1 auto">
                    <input matInput (keyup)="search($event.target.value)" placeholder="搜索">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start stretch" style="margin-left: 20px;">
                <button mat-raised-button color="primary" (click)="rescan()" [disabled]="!selection.selected.length">
                    <mat-icon>autorenew</mat-icon> 刷新
                </button>
                <button mat-raised-button color="primary" (click)="assign()" [disabled]="!selection.selected.length" style="margin-left: 20px;">
                    分组
                </button>
                <button mat-raised-button color="primary" (click)="remove()" [disabled]="!selection.selected.length" style="margin-left: 20px;">
                    移除分组
                </button>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDisableClear matSortDirection="asc" class="mat-elevation-z4">

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let elem; columns: displayedColumns;" class="machine"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox color="primary" (change)="$event? toggle(): null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox color="primary" (click)="$event.stopPropagation()" (change)="$event? selection.toggle(row): null" [checked]="selection.isSelected(row)"></mat-checkbox>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="metadata.name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 主机名 </th>
                <td mat-cell *matCellDef="let elem" > {{elem.metadata?.name}} </td>
                <td mat-footer-cell *matFooterCellDef> Total </td>
            </ng-container>

            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 扫描状态 </th>
                <td mat-cell *matCellDef="let elem" [ngSwitch]="elem.state">
                    <mat-spinner *ngSwitchCase="1" diameter="22"></mat-spinner>
                    <mat-spinner *ngSwitchCase="3" diameter="22"></mat-spinner>
                    <mat-icon *ngSwitchCase="4" style="color: #00796b;">check_circle</mat-icon>
                    <mat-icon *ngSwitchCase="5" style="color: #d32f2f;">cancel</mat-icon>
                    <mat-icon *ngSwitchDefault style="color: #37474f;">help</mat-icon>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>


            <ng-container matColumnDef="metadata.group">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 主机组 </th>
                <td mat-cell *matCellDef="let elem" class="name"> {{elem.metadata?.group}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="critical_sec">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 危险补丁数量 </th>
                <td mat-cell *matCellDef="let elem"> {{elem.security | find: 'severity=1'}} </td>
                <td mat-footer-cell *matFooterCellDef> {{getTotal(1)}} </td>
            </ng-container>

            <ng-container matColumnDef="important_sec">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 重要补丁数量 </th>
                <td mat-cell *matCellDef="let elem"> {{elem.security | find: 'severity=2'}} </td>
                <td mat-footer-cell *matFooterCellDef> {{getTotal(2)}} </td>
            </ng-container>

            <ng-container matColumnDef="moderate_sec">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 中等补丁数量 </th>
                <td mat-cell *matCellDef="let elem"> {{elem.security | find: 'severity=3'}} </td>
                <td mat-footer-cell *matFooterCellDef> {{getTotal(3)}} </td>
            </ng-container>

            <ng-container matColumnDef="updated_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 更新时间 </th>
                <td mat-cell *matCellDef="let elem"> {{elem.metadata?.updated_at? (elem.metadata.updated_at | date: 'yyyy-MM-dd HH:mm:ss'): (elem.metadata.created_at | date: 'yyyy-MM-dd HH:mm:ss')}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let elem">
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <button mat-icon-button [routerLink]="'/scan/'+elem.metadata?.name">
                            <mat-icon>arrow_forward</mat-icon>
                        </button>
                    </div>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons="true"></mat-paginator>
    </div>
</div>
