<div style="width: 100%;padding: 16px 20px;box-sizing:border-box;">
    <div fxLayoutAlign="end center">
            <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon style="margin: 2px 8px 2px 0">search</mat-icon>
                <mat-form-field fxFlex="1 1 auto">
                    <input matInput (keyup)="search($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource" matSort matSortActive="group" matSortDisableClear matSortDirection="asc" class="mat-elevation-z4" style="width:100%;margin-bottom: 20px;">

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let elem; columns: displayedColumns;" class="machine"></tr>

            
            <ng-container matColumnDef="group">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 主机组名称 </th>
                <td mat-cell *matCellDef="let elem" > {{elem.group === 'nogroup' ? '未分组' : elem.group }} </td>
            </ng-container>


            <ng-container matColumnDef="host_count">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 主机数量 </th>
                <td mat-cell *matCellDef="let elem"> {{elem.host_count}} </td>
            </ng-container>

            <ng-container matColumnDef="critical_sec">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 危险补丁数量 </th>
                <td mat-cell *matCellDef="let elem"> {{elem.critical_sec}} </td>
            </ng-container>

            <ng-container matColumnDef="important_sec">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 重要补丁数量 </th>
                <td mat-cell *matCellDef="let elem"> {{elem.important_sec}} </td>
            </ng-container>

            <ng-container matColumnDef="moderate_sec">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 中等主机数量 </th>
                <td mat-cell *matCellDef="let elem"> {{elem.moderate_sec}} </td>
            </ng-container>

            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let elem">
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <button mat-icon-button [routerLink]="'/grouplist/'+elem.group">
                            <mat-icon>arrow_forward</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>

        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons="true"></mat-paginator>
</div>