    <div fxLayout="column">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="用户名" required [(ngModel)]="ob.name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="密码" required [(ngModel)]="ob.password">
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="用户类别" required [(ngModel)]="ob.userType">
            <mat-option *ngFor="let login of loginType" [value]="login.value">
                {{login.viewValue}}
            </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="login()">登录</button>
    </div>
