<h2 mat-dialog-title>Run Command</h2>
<mat-dialog-content>
    <div class="editor" [text]="data" theme="dracula" mode="text" readOnly="true" editor></div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end stretch" fxLayoutGap="10px">
    <button mat-flat-button (click)="close()">关闭</button>
</mat-dialog-actions>